  <img src="https://images.pexels.com/photos/373934/pexels-photo-373934.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
   class="first-back-img" alt="background-jump-pic">

<div class="container message rounded">
<a class="btn btn-lg active spot-color row" href="/auth/spotify">Jump In with your Spotify Account</a>
</div>